@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/source-sans/SourceSansPro-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/source-sans/SourceSansPro-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/source-sans/SourceSansPro-It.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/source-sans/SourceSansPro-ExtraLight.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/source-sans/SourceSansPro-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Space Mono";
	src: url("../fonts/space-mono/SpaceMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
	font-family: "Source Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;
	tab-size: 4;
}

body {
	margin: 0.5rem;
}

a {
	color: #0057a8;
	text-decoration: none;
}

p {
	margin: 0.5em 0;
}

ul {
	margin: 0.5em 0;
}

header {
	margin-bottom: 1.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	position: relative;
}

header .github {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background: url("../img/GitHub_Logo.svg") no-repeat center center;
	background-size: contain;
	color: transparent;
	font-size: 150%;
}

h1 {
	text-align: center;
	font-weight: 100;
	font-size: 3rem;
	margin-bottom: 2rem;
}

h1 a {
	color: inherit;
	text-decoration: inherit;
	display: block;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

h3 {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h4 {
	font-weight: bold;
	font-size: 1.25rem;
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

nav {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	flex-wrap: wrap;
	margin-bottom: -0.25rem;
}

nav a {
	color: inherit;
	text-decoration: inherit;
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0.25rem 0.5rem;
	border-bottom: 0.3rem solid;
	border-bottom-color: transparent;
	white-space: nowrap;
}

nav a:hover {
	border-bottom-color: #1990ff80;
}

nav a.selected {
	border-bottom-color: #1990ff;
}

main {
	max-width: 800px;
	margin: 0 auto;
}

footer {
	max-width: 800px;
	margin: 0 auto;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 2rem;
	padding-top: 0.5rem;
}

pre.highlight {
	background: rgba(0, 0, 0, 0.05);
	padding: 0.5em;
	overflow: auto;
	margin: 0.5em 0;
}

pre.highlight code {
	background: none;
	padding: 0;
}

code {
	font-family: "Space Mono", "Bitstream Vera Sans Mono", monospace;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
	margin: 1em 0;
}

thead {
	border-bottom: 1px solid black;
}

th {
	padding: 0 0.2em;
	text-align: left;
}

td {
	padding: 0 0.2em;
	text-align: left;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tr:last-child td {
	border-bottom: none;
}

.versions {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	line-height: 200%;
}

.versions a.selected {
	font-weight: bold;
}

.versions a:not(:last-child):after {
	content: ", ";
	font-weight: normal;
}

@media (max-width: 800px) {
	html {
		font-size: 11pt;
	}

	header {
		padding-top: 1rem;
	}

	h1 {
		margin-bottom: 1.5rem;
	}

	header .github {
		top: 0.25rem;
		right: 0.25rem;
		font-size: 120%;
	}

	nav {
		justify-content: center;
		margin-bottom: 0.5rem;
	}
}
